---
import utgivelser from '../constants/utgivelser.json';
const bryggeprat = utgivelser.utgivelser.bryggepraten;
const andre = utgivelser.utgivelser.andre_forfattere;
---

<section class='py-4'>
    <h3 class='text-lg font-bold'>Bestillingsskjema</h3>
    <form
        class='grid gap-2 px-3 py-4 md:px-4'
        data-netlify='true'
        netlify-honeypot='bot-field'
        method='POST'
        id='bestillingsskjema'
    >
        <p class='hidden'>
            <label>
                Ikke fyll inn dette feltet hvis du er et menneske: | Don't fill this out if you're
                human: <input name='bot-field' />
            </label>
        </p>
        <fieldset class='w-full flex flex-col justify-between gap-2'>
            {
                bryggeprat.map((bok) => {
                    const name = bok.tittel.toLowerCase();
                    return (
                        <label class='mt-2 w-full grid grid-cols-[1fr,20%]'>
                            {bok.tittel} &hyphen; {bok.pris},-
                            <input
                                name={name}
                                type='number'
                                max='10'
                                placeholder='0'
                                class='p-2 w-full rounded-sm text-primary text-center border invalid:border-rose-500 valid:border-green-600'
                            />
                        </label>
                    );
                })
            }
        </fieldset>
        <fieldset class='w-full flex flex-col justify-between gap-2'>
            {
                andre.map((bok) => {
                    const name = bok.tittel.toLowerCase();
                    if (bok.pris)
                        return (
                            <label class='mt-2 w-full grid grid-cols-[1fr,20%]'>
                                {bok.tittel} &hyphen; {bok.pris},-
                                <input
                                    name={name}
                                    type='number'
                                    max='10'
                                    placeholder='0'
                                    class='p-2 w-full rounded-sm text-primary text-center border invalid:border-rose-500 valid:border-green-600'
                                />
                            </label>
                        );
                })
            }
        </fieldset>

        <fieldset class='flex mt-4 gap-2'>
            <label class='mt-2 flex flex-col w-full'>
                Fornavn
                <input
                    required
                    name='fornavn'
                    type='text'
                    placeholder='Fornavn'
                    class='p-2 rounded-sm text-primary border invalid:border-rose-500 valid:border-green-600'
                />
            </label>
            <label class='mt-2 flex flex-col w-full'>
                Etternavn
                <input
                    required
                    name='etternavn'
                    type='text'
                    placeholder='Etternavn'
                    class='p-2 rounded-sm text-primary border invalid:border-rose-500 valid:border-green-600'
                />
            </label>
        </fieldset>
        <label class='mt-2 flex flex-col w-full'>
            E-post
            <input
                name='epost'
                required
                type='email'
                placeholder='epost@adresse.no'
                class='p-2 rounded-sm text-primary border invalid:border-rose-500 valid:border-green-600'
            />
        </label>

        <fieldset>
            <label class='mt-2 flex flex-col w-full'>
                Gateadresse
                <input
                    name='adresse'
                    required
                    type='text'
                    placeholder='Adresse'
                    class='p-2 rounded-sm text-primary border invalid:border-rose-500 valid:border-green-600'
                />
            </label>
            <div class='grid grid-cols-[auto,1fr] gap-2'>
                <label class='mt-2 flex flex-col w-full'>
                    Postnummer
                    <input
                        name='postnummer'
                        required
                        maxlength='4'
                        type='text'
                        placeholder='1234'
                        class='p-2 rounded-sm text-primary border invalid:border-rose-500 valid:border-green-600'
                    />
                </label>
                <label class='mt-2 flex flex-col w-full'>
                    Sted
                    <input
                        name='sted'
                        required
                        type='text'
                        placeholder='Sted'
                        class='p-2 rounded-sm text-primary border invalid:border-rose-500 valid:border-green-600'
                    />
                </label>
            </div>
        </fieldset>
        <label class='flex flex-col'>
            Kommentar til bestillingen?
            <textarea
                name='melding'
                class='p-2 rounded-sm text-primary border invalid:border-rose-500 valid:border-green-600'
                placeholder='Vil du ha autografen i boka sier`u?'
                rows='3'></textarea>
        </label>

        <input
            name='submit'
            type='submit'
            value='Send Bestilling'
            class='py-2 mt-4 rounded-sm bg-[#efb261] text-black text-secondary cursor-pointer hover:text-amber-100 hover:bg-yellow-900 md:w-1/2 md:justify-self-start uppercase'
        />
    </form>
</section>
